<div class="container-md mh-auto min-vh-100 p-5">
    <div class="row justify-content-center rounded shadow-lg p-4 mh-auto bg-primary bg-gradient">
        <div class="col-md-7 me-2 bg-light p-3 rounded-pill">Welcome: USER</div>
        <div class="col-md-4 d-inline-block justify-content-center p-2">
            <button class="btn btn-danger w-75">Add a Task</button>
        </div>
        <div class="container-custom container-md col-md-12 card-body rounded shadow-lg m-3 p-5 min-vh-75">
            <div class="row">
                <div class="col-md-7 card me-1 mb-2 p-2 justify-content-center">Task</div>
                <div class="col-md-1 me-1 mb-3 d-flex justify-content-center">
                    <input class="form-check-input mt-3 p-3 mb-2" type="checkbox">
                </div>
                <div class="col-md-3 p-2 mb-3 d-flex justify-content-start">
                    <div class="btn btn-info me-1">update</div>
                    <div class="btn btn-danger">Delete</div>
                </div>
            </div>
        </div>
    </div>

</div>