<div class="containe-md m-3">
    <div class="row m-4 mb-2 d-prind-block justify-content-center">
        <div id="userData" class="col-md-7 me-2 bg-primary p-3 rounded-pill"> USER DATA</div>
        <div class="col-md-4 d-prind-block justify-content-center p-2">
            <button class="btn btn-danger w-75">ADD</button>
        </div>
    </div>
    <div class="row card m-5 mt-3"></div>
</div>