<div class="container-fluid p-0 sticky-top mb-4  ">
    <div class="row m-0  ">
        <nav class="navbar navbar-expand-lg w-100 navbar-custom ">
            <img src="assets/img/logo-app.png" class="rounded-circle navbar-brand" width="100" height="100">
            <div class="">
                <spam class="navbar-text">Welcome: {{userName}}</spam>
            </div>
            <div class="ms-auto">
                <button class="btn btn-success w-100" data-bs-toggle="modal" data-bs-target="#addTaskModal">Add a
                    Task</button>
            </div>
            <div>
                <a class="btn btn-outline-primary m-1" href="/logout">Logout<span class="sr-only"></span></a>
            </div>
    </div>
    </nav>
</div>
</div>

 {{#each listTask}}
<div class="container-custom container-md col-md-12 shadow-lg mt-3  p-5 min-vh-50">
    <div class="row justify-content-center">
       
        <div class="col-md-7 card me-1 mb-2 border shadow-lg justify-content-center">{{title}}</div>
        <div class="col-md-1 me-1  d-flex justify-content-center">
            {{#if completada}}
            <input class="form-check-input mt-3 p-3 mb-2 border shadow-lg" type="checkbox" checked>
            {{else}}
            <input class="form-check-input mt-3 p-3 mb-2 border shadow-lg" type="checkbox">
            {{/if}}
        </div>

        <div class="col-md-3 p-3 mw 100 d-flex justify-content-center border shadow-lg m-1">
            <div class="btn btn-info me-1" data-bs-toggle="modal" data-bs-target="#updateTaskModal">update</div>
        <form action="/delete/{{title}}" method="post">
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
        </div>

    </div>
</div>
{{/each}}

{{!-- Modal add task--}}
<div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content content-modal-custom ">
            <div class="modal-header">
                <h5 class="modal-title" id="addTaskModalLabel">Task Manager</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="taskTitle" class="form-laber">
                            Task title</label>
                        <input type="text" class="form-control border border-dark mb-2" id="taskTitle">
                        <label for="taskDes" class="form-label">Task description
                        </label>
                        <input type="text" class="form-control  border border-dark" id="taskDes">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChangeTask">Create</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="updateTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content content-modal-custom ">
            <div class="modal-header">
                <h5 class="modal-title" id="addTaskModalLabel">Update Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="taskDes" class="form-label">
                            description edition
                        </label>
                        <input type="text" class="form-control  border border-dark" id="taskDes">
                    </div>

                    <div class="mb-3 ">
                        <label for="taskDes" class="form-label">
                            Finalizada
                        </label>
                        <input type="checkbox" class="form-check-input mt-3 p-3 mb-2 border shadow-lg  " id="taskDes">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChangeTask">Save changes</button>
            </div>
        </div>
    </div>
</div>