<div class='d-flex justify-content-center align-items-center vh-100 p-3 mb-2 bg-primary-subtle text-primary-emphasis'>
  <div class='login container text-center p-3 mb-2 bg-white text-dark p bg-primarymx-auto p-2 mx-auto p-2' style='width: 400px; height: 500px; margin: 4px; '>
    <h1 class='text-center'>
      Login
    </h1>

    <form action='/singin' method='POST'>
      <div class='form-group'>
        <div class='form-group was-validated form-control mt-3 placeholder=Input con margen superior'>
          <label class='form-label' for='username'>username:</label>
          <input class='form-control' id='username' name='username' required />
          <div class='invalid-feedback'>
            por favor ingrese su Usuario

          </div>

        </div>
        <div class='form-group was-validated form-control mt-3 placeholder=Input con margen superior'>
          <label class='form-label' for='pasword'>Pasword:</label>
          <input class='form-control' type='password' id='password' name='password' required />
          <div class='invalid-feedback'>por favor ingrese su contraseña</div>

        </div>

        <div>
          <button class='btn ent' type='submit'>entrar</button>
          {{! <input class='ent' type='submit' value='entrar' /> }}

        </div>

        <div>
          <div>no tienes cuenta?</div>
          <a class='btn crear' href='/singup'>crear cuenta </a>
          {{! <button class=' btn crear' type='submit'>crear cuenta </button> }}
          {{! <input class='crear' type='submit' value='crear cuenta' /> }}

        </div>
      </div>
    </form>
  </div>
</div>