<div class="bg-info d-flex justify-content-center
align-items-center vh-100">
  <div class="bg-white p-5 rounded-5 text-secondary shadow" style="width:25rem">
    <div>
      <div class="d-flex justify-content-center">
        <img src="assets/img/login-icon.svg" alt="registrate-icono" style="height:7rem" />
      </div>
      <div class="text-center fs-1 fw-bold mt-1">Registrate</div>
      <form action="/singup" method="POST">
      <div class="form-group">
        <div>
          <input class="form-control " type="text" placeholder="name" name="input_name">
        </div>
        <div>
          <input class="form-control" type="text" placeholder="lastname" name="input_lastname">
        </div>
        <div>
          <input class="form-control" type="text" placeholder="user name" name="username">
        </div>
        <div>
          <input class="form-control" type="text" placeholder="email" name="input_email">
        </div>
        <div>
          <input class="form-control" type="password" placeholder="password" >
        </div>
        <div>
          <input class="form-control" type="password" placeholder="confi password" name="password">
        </div>
      
          <button class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm"> create acount</button>
      
        
      
        </div>
        </form>


      </div>

    </div>